html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
}

.title-content {
  text-align: center;
  color: white;
}

.title-content h1 {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.title-content h3 {
  font-size: 2.5vh;
  margin-bottom: 2vh;
}

.title-content button {
  padding: 1vh 2vh;
  margin: 1vh;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
}

.title-content button:hover {
  background-color: #45a049;
}

.backgroud {
  color: white;
  margin-bottom: 2vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8vh 2vh;
  border-radius: 0vh;
  text-align: center;
}
.username-setup {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1vh;
  max-width: 70vw;
}

.container-for-header-timer {
  display: flex;
  width: 75vh;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  font-size: 4vh;
  color: white;
  width: 85%;
  margin-bottom: 1vh;
}

.timer {
  font-size: 3vh;
  color: white;
  width: 5%;
  text-align: right;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 40vh;
  width: 50vw;
  margin: 5vh auto;
  border: 0.1vh solid #ccc;
  border-radius: 3vh;
  padding: 5vh;
  background-color: rgb(46, 46, 46);
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader-text {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-box {
  flex: 1;
  font-size: medium;
  height: 35vh;
  max-height: 35vh;
  overflow-y: auto;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.chat-message {
  padding: 1vh;
  margin-bottom: 1vh;
  border-radius: 5vh;
  background-color: #85b446;
  color: white;
  width: 100%;
  max-width: 40%;
  word-wrap: break-word;
  white-space: normal;
}

.input-area {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vh;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1vh;
  max-width: 70vw;
}

input {
  padding: 1.5vh;
  border: 0.1vh solid #0d0202;
  border-radius: 0.5vh;

  width: 35vw;
  max-width: 65vw;
  box-sizing: border-box;
}

button {
  padding: 1.5vh 2vh;
  background-color: #85b446;
  color: white;
  border: none;
  border-radius: 0.5vh;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background-color: #45a049;
}

.chat-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 5px;
}

.chat-message {
  padding: 10px;
  border-radius: 8px;
  width: auto;
  max-width: 45%;
  font-size: 14px;
  word-wrap: break-word;
}

.user-message {
  align-self: flex-end;
  background-color: #363eea;
  color: #ffffff;
}

.other-message {
  align-self: flex-start;
  background-color: rgb(87, 87, 87);
  color: #ffffff;

}
